In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

In [2]:
weather = pd.read_csv('Rain Prediction Train.csv')

In [3]:
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,07-02-2014,CoffsHarbour,17.7,25.9,2.2,1.6,NaN,NNE,31.0,SW,...,76.0,66.0,1017.3,1016.5,7.0,4.0,21.5,24.2,Yes,No
1,23-04-2009,Portland,6.7,22.0,0.0,5.4,0.4,NNE,44.0,NE,...,65.0,37.0,1014.0,1008.8,7.0,8.0,14.0,21.8,No,Yes
2,08-11-2015,Watsonia,6.2,25.7,0.0,4.2,10.9,WSW,20.0,SE,...,71.0,28.0,1022.5,1019.4,2.0,7.0,12.8,23.6,No,No
3,21-11-2012,Wollongong,13.8,22.8,0.0,NaN,NaN,SSW,70.0,N,...,65.0,76.0,1017.0,1010.6,NaN,NaN,18.9,20.6,No,No
4,30-07-2013,Townsville,13.4,27.2,0.0,6.0,10.2,ENE,30.0,SSW,...,61.0,46.0,1016.8,1011.8,1.0,1.0,21.7,25.6,No,No

In [4]:
weather.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,99564.000000,99784.000000,99030.000000,57367.000000,52518.000000,93460.000000,99062.000000,98146.000000,98762.000000,97456.000000,90163.000000,90188.000000,62372.000000,59989.000000,99380.000000,98090.000000
mean,12.190559,23.228404,2.346882,5.467535,7.627004,39.986818,14.008045,18.623846,68.845599,51.491155,1017.631809,1015.242128,4.432261,4.502492,16.986879,21.685637
std,6.412850,7.117851,8.357515,4.186620,3.783709,13.589459,8.898406,8.797918,19.064754,20.824180,7.105450,7.032167,2.887452,2.721770,6.500404,6.940969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,1.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000
75%,16.900000,28.200000,0.600000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000
max,33.900000,47.300000,278.400000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,39.400000,46.700000

In [5]:
weather.isnull().sum()

Date                 0
Location             0
MinTemp            436
MaxTemp            216
Rainfall           970
Evaporation      42633
Sunshine         47482
WindGustDir       6581
WindGustSpeed     6540
WindDir9am        7062
WindDir3pm        2691
WindSpeed9am       938
WindSpeed3pm      1854
Humidity9am       1238
Humidity3pm       2544
Pressure9am       9837
Pressure3pm       9812
Cloud9am         37628
Cloud3pm         40011
Temp9am            620
Temp3pm           1910
RainToday          970
RainTomorrow         0
dtype: int64

## 1.	Find the windy (Highest wind speed and frequent high-speed winds) places to build a windmill. Also find the sunny places to setup a solar field. Take values more than 75 percentile as minimum values for analysis.

In [6]:
weather['AverageWindSpeed'] = weather[['WindSpeed9am', 'WindSpeed3pm']].mean(axis=1)

In [7]:
weather['AverageWindSpeed'].quantile(0.75)

20.5

In [8]:
weather_windiest = weather[weather['AverageWindSpeed']>=20.5]

In [9]:
weather_windiest.head(2)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,AverageWindSpeed
3,21-11-2012,Wollongong,13.8,22.8,0.0,NaN,NaN,SSW,70.0,N,...,76.0,1017.0,1010.6,NaN,NaN,18.9,20.6,No,No,28.0
10,31-03-2012,Dartmoor,11.1,21.8,0.0,7.0,8.1,WNW,39.0,W,...,51.0,1012.7,1014.5,NaN,NaN,16.9,19.7,No,No,23.0

In [10]:
weather_windiest['Location'].value_counts()

Ballarat            1157
GoldCoast           1147
SydneyAirport       1129
NorfolkIsland       1079
MelbourneAirport    1050
Townsville          1004
PerthAirport         985
MountGambier         981
Woomera              961
Cairns               859
Wollongong           833
Melbourne            804
Hobart               736
Portland             727
Williamtown          711
PearceRAAF           707
Sale                 694
Darwin               691
CoffsHarbour         645
NorahHead            636
Sydney               614
AliceSprings         601
SalmonGums           584
Moree                569
Witchcliffe          569
Albany               520
Nuriootpa            494
Canberra             486
MountGinini          473
Dartmoor             454
Walpole              421
Bendigo              412
Nhil                 411
Mildura              365
WaggaWagga           355
Uluru                346
Cobar                293
Launceston           242
Watsonia             211
Richmond             197
Adelaide             195
Albury               191
Tuggeranong          179
Newcastle            168
BadgerysCreek        161
Katherine            114
Penrith              107
Perth                 83
Brisbane              17
Name: Location, dtype: int64

Therefore Balarat is the windiest city

## Which is the sunniest place ?

In [11]:
weather['Sunshine'].quantile(0.75)

10.6

In [12]:
weather['MaxTemp'].quantile(0.75)

28.2

In [13]:
weather_sunniest1 = weather[weather['Sunshine']>=10.6]

In [14]:
weather_sunniest1.head(2)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,AverageWindSpeed
2,08-11-2015,Watsonia,6.2,25.7,0.0,4.2,10.9,WSW,20.0,SE,...,28.0,1022.5,1019.4,2.0,7.0,12.8,23.6,No,No,6.5
7,24-02-2016,Moree,19.9,35.0,0.0,10.2,12.5,NNE,37.0,N,...,23.0,1017.4,1013.3,0.0,1.0,24.2,34.4,No,No,16.5

In [15]:
weather_sunniest = weather[weather['MaxTemp']>=10.6]

In [16]:
weather_sunniest.head(2)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,AverageWindSpeed
0,07-02-2014,CoffsHarbour,17.7,25.9,2.2,1.6,NaN,NNE,31.0,SW,...,66.0,1017.3,1016.5,7.0,4.0,21.5,24.2,Yes,No,13.0
1,23-04-2009,Portland,6.7,22.0,0.0,5.4,0.4,NNE,44.0,NE,...,37.0,1014.0,1008.8,7.0,8.0,14.0,21.8,No,Yes,16.0

In [17]:
weather_sunniest['Location'].value_counts().head()

Sydney      2340
Canberra    2338
Perth       2280
Darwin      2220
Brisbane    2220
Name: Location, dtype: int64

In [18]:
weather_sunniest1['Location'].value_counts().head()

AliceSprings    932
Darwin          858
Perth           847
PerthAirport    780
PearceRAAF      729
Name: Location, dtype: int64

## 2.	Find the locations where humidity and temperature are more than 80 percentile value.

In [19]:
weather['AverageHumidity'] = weather[['Humidity9am', 'Humidity3pm']].mean(axis=1)

In [20]:
weather.head(2)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,AverageWindSpeed,AverageHumidity
0,07-02-2014,CoffsHarbour,17.7,25.9,2.2,1.6,NaN,NNE,31.0,SW,...,1017.3,1016.5,7.0,4.0,21.5,24.2,Yes,No,13.0,71.0
1,23-04-2009,Portland,6.7,22.0,0.0,5.4,0.4,NNE,44.0,NE,...,1014.0,1008.8,7.0,8.0,14.0,21.8,No,Yes,16.0,51.0

In [21]:
weather['AverageHumidity'].quantile(0.80)

76.5

In [22]:
weather_hum = weather[weather['AverageHumidity']>=76.5]

In [23]:
weather_hum.head(2)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,AverageWindSpeed,AverageHumidity
5,20-05-2016,Albany,10.1,21.8,0.0,0.8,NaN,NaN,NaN,N,...,1011.7,1003.9,1.0,NaN,12.9,NaN,No,Yes,4.0,93.0
9,08-07-2016,Penrith,12.5,16.9,0.8,NaN,NaN,SW,26.0,SSW,...,NaN,NaN,NaN,NaN,13.3,13.1,No,Yes,6.5,94.0

In [24]:
weather_hum["Location"].value_counts().head()

MountGinini    1014
Dartmoor        966
Ballarat        944
Portland        856
Albany          805
Name: Location, dtype: int64

Mount Ginini has the highest humidity in the given data set

In [25]:
weather['AverageTemperature'] = weather[['Temp9am', 'Temp3pm']].mean(axis=1)

In [26]:
weather['AverageTemperature'].quantile(0.80)

25.1

In [27]:
weather_temp = weather[weather['AverageTemperature']>25.1]

In [28]:
weather_temp['Location'].value_counts().head()

Darwin          2126
Cairns          1518
Townsville      1506
AliceSprings    1092
Katherine        906
Name: Location, dtype: int64

Highest Temperature is in Darwin

## 3.	Find 3 places where rainfall, sunshine, humidity is not too high or too low[ Use logical threshold using percentile values]

In [29]:
weather['Rainfall'].quantile([0.25, 0.75])

0.25    0.0
0.75    0.6
Name: Rainfall, dtype: float64

In [30]:
weather_rainfall = weather[weather['Rainfall']>0]

In [31]:
weather_rainfall = weather[weather['Rainfall']<0.6]

In [32]:
weather_rainfall['Location'].value_counts().head()

AliceSprings    1978
Woomera         1907
Canberra        1876
Mildura         1833
Cobar           1771
Name: Location, dtype: int64

##### Top three places which get not too high rainfall and not too less rainfall are AliceSprings, Woomera and Canberra

In [33]:
weather['Sunshine'].quantile([0.25, 0.75])

0.25     4.9
0.75    10.6
Name: Sunshine, dtype: float64

In [34]:
weather_sunshine = weather[weather['Sunshine']>4.9]

In [35]:
weather_sunshine = weather[weather['Sunshine']<10.6]

In [36]:
weather_sunshine.head(2)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,AverageWindSpeed,AverageHumidity,AverageTemperature
1,23-04-2009,Portland,6.7,22.0,0.0,5.4,0.4,NNE,44.0,NE,...,1008.8,7.0,8.0,14.0,21.8,No,Yes,16.0,51.0,17.90
4,30-07-2013,Townsville,13.4,27.2,0.0,6.0,10.2,ENE,30.0,SSW,...,1011.8,1.0,1.0,21.7,25.6,No,No,11.0,53.5,23.65

In [37]:
weather_sunshine.Location.value_counts().head()

Hobart              1928
Sydney              1887
Watsonia            1747
SydneyAirport       1719
MelbourneAirport    1698
Name: Location, dtype: int64

##### Top three places which get not too high sunshine and not too less sunshine

In [38]:
weather['AverageHumidity'].quantile([0.25, 0.75])

0.25    48.5
0.75    73.5
Name: AverageHumidity, dtype: float64

In [39]:
weather_humidity = weather[weather['AverageHumidity']>48.5]

In [40]:
weather_humidity = weather[weather['AverageHumidity']<73.5]

In [41]:
weather_humidity.Location.value_counts().head()

AliceSprings    2093
Perth           1997
Canberra        1978
Woomera         1977
Brisbane        1939
Name: Location, dtype: int64

##### Top three places which get not too high humidity and not too less humidity

## 4.	Find the top 3 places where rainfall is high, but cloud cover is low and vice versa. Take cloud cover avg>5.